body {
    nav{
        background-color: orange;
        padding: 10px;
        border-radius: 4px;

    }
    main{
    }
    footer{
        background-color: green;
        padding: 10px;
        border-radius: 4px;
    }
}