$primary-color: orange;
$secondary-color: green;
$tertiary-color: yellow;
$primary-font-color: black;
$border-radius: 4px;

body {
    .menu{ 
        height: 25px;
    }
    nav{
        background-color: $tertiary-color;
        padding: 10px;
        border-radius: 4px;

    }
    main{
    }
    footer{
        background-color: green;
        padding: 10px;
        border-radius: 4px;
         }
}