@import "./node_modules/bootstrap/scss/bootstrap";

$primary-color: orange;
$secondary-color: green;
$tertiary-color: #eeee;
$primary-font-color: black;
$border-radius: 5px;

body {
    .menu{ 
        height: 25px;
    }
    nav{
        background-color: $secondary-color;
        padding: 10px;
        border-radius: 4px;
        }
    nav{
 /* unvisited link */
 a:link {
    color: aquamarine;
  }
  
  /* visited link */
  a:visited {
    color: purple;
  }
  
  /* mouse over link */
  a:hover {
    color: red;
  }
  
  /* selected link */
  a:active {
    color: yellow;
  }}
    main{ 
        background-color: #999999
}
.dynamic-color{
    background: transparent;
    transition: 0.3s all ease-out;
    transform: scale(1);

    &:hover {
        background: green;
        transform: scale (1)
    }

}

    footer{
        background-color: green;
        padding: 10px;
        border-radius: 4px;
         }
         background-image: url("logo-origineel.png");
         background-repeat: no-repeat;
         background-attachment: fixed;

        }